.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
.gitignore
.eslintrc.js
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
.DS_Store
*.log
*.vsix
examples/**
*.md
!README.md
!CHANGELOG.md
